:root {
    --font-sans: 'OpenSans', sans-serif;
    --text-color: #fff;
    --primary: #2044F7;
    --secondary: #041366;
}

* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
    font-family: var(--font-sans);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
} 

input,button {
    border: none;
    outline: none;
    background: none;
}

input::placeholder {    
  color: #515A85;
  font-size: 14px;
}

.container {
    margin: auto;
    max-width: 1170px;
    padding: 0 20px;
}

.bg-primary {
    background: var(--primary);
}

.bg-secondary {
    background: var(--secondary);
}

.head {
    padding: 41px 0;
    display: flex;
    justify-content: space-between;
}

.mobile-header {
    display: none;
}
.menu {
    border-top: 1px solid #fff;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    max-width: 760px;
    margin: auto;
    padding: 21px 0;
}
.nav a.active {
    color: var(--secondary); 
    /* width: fit-content;
    padding-bottom: 4px;
    border-bottom: 1px solid var(--text-color); */
}

.search-form {
    position: relative;
    margin-bottom: 20px;
}

.search-inp {
    width: 475px;
    height: 50px;
    border-radius: 50px;
    padding-left: 28px;
    margin-top: 4px;
    background: #fff;
    box-shadow: inset 0 1px 3px 1px rgba(4, 19, 102, 0.5);
}

.search-btn {
    position: absolute;
    top: 9px;
    right: 5px;
    background: url(../../public/images/search.svg);
    height: 40px;
    width: 40px;
    cursor: pointer;
}

img {
    margin: 0;
}

.number {
    background: url(../../public/images/mobile.svg) no-repeat left center;
    padding: 5px 0 7px 50px;
    margin-right: 22px;
    font-size: 24px;
    font-weight: 700;
}

.mail {
    background: url(../../public/images/mail.svg) no-repeat left center;
    padding: 10px 0 10px 50px;
}

.mobile-menu {
    position: fixed;
    top: 66px;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background: var(--secondary);
    z-index: 1000;
    transition: right 0.3s;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    }

@media(max-width:1280px){
    .head {
        flex-wrap: wrap;
        padding: 41px 40px;
    }
}

@media(max-width:1024px){
    .container {
        max-width: 700px;
        justify-content: center;
    } 
    .head {
        flex-wrap: wrap;
        padding: 41px 40px;
    }
    img {
        padding: 0 0 20px;
        margin: auto;
    }
    .nav {
        padding: 20px 40px;
    }
    
}

@media(max-width:640px){
    .container {
        max-width: 600px;
    }
    .head {
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 20px;
    }
    .mob-img {
        width: 277px;
    }
    img {
        margin:0 auto 30px;
        padding: 0;
        width: 320px;
    }
     .mobile-header {
        padding: 15px 30px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
     }
    .search-form {
        margin-bottom: 30px;
    }
    .search-inp {
        width: 320px;
    }
    .menu, .contacts {
        display: none;
    }
    .number {
        background: url(../../public/images/mobile_tel.svg) no-repeat left center;
        margin: 0;
        padding: 0 0 0 26px;
    }
    .menu-burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30px;
        z-index: 1001;
    }
    .burger-line {
        width: 30px;
        height: 5px;
        background: var(--secondary);
        border-radius: 4px;
        transition: 0.2s;
        display: block;
        position: relative;
    }
    .menu-burger.active .burger-line:nth-child(1) {
    transform: translateY(12.5px) rotate(45deg);
    }
    .menu-burger.active .burger-line:nth-child(2) {
        opacity: 0;
    }
    .menu-burger.active .burger-line:nth-child(3) {
        transform: translateY(-12.5px) rotate(-45deg);
    }
    
    .mobile-menu.active {
        right: 0;
    }
    .nav a.active {
        color: var(--primary);
    }
    .nav {
        margin: 0 0 40px;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .mob-nav a {
        font-size: 20px;
        font-weight: 700;
    }
    .mail-form {
        margin: 20px 0 20px;
        position: relative;
    }
    .mail-inp {
        width: 100%;
        height: 50px;
        border-radius: 50px;
        padding-left: 20px;
        background: #fff;
        box-shadow: inset 0 1px 2px 1px rgba(4, 19, 102, 0.5);
    }
    .mail-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        background: url(/public/images/arrow-btn.svg);
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
    .mobile-menu p {
        color: var(--primary);
        text-transform: uppercase;
    }
    .social {
        display: flex;
        gap: 17px;
        margin-top: 10px;
    }
    .social a img {
        width: 24px;
        height: 24px;
        margin: 0;
    }

}

@media(max-width:360px){
    .container {
        max-width: 320px;
    }
     .mobile-header {
        padding: 15px 0;
     }
}